<mat-card class="currency-converter">
  <mat-card-content>
    <form [formGroup]="currencyForm" class="currency-converter__form">
      <div class="currency-converter__block">
        <mat-form-field appearance="fill">
          <mat-label>Amount</mat-label>
          <input
            formControlName="fromCurrencyValue"
            matInput
            type="number"
            (input)="updateToCurrencyValue()"
          >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>From Currency</mat-label>
          <mat-select
            formControlName="fromCurrencyName"
            (selectionChange)="updateCurrencyRate()"
          >
            <mat-option *ngFor="let currency of currencies" [value]="currency">
              {{ currency }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-icon>sync_alt</mat-icon>
      <div class="currency-converter__block">
        <mat-form-field appearance="fill">
          <mat-label>Amount</mat-label>
          <input
            matInput
            formControlName="toCurrencyValue"
            type="number"
            (input)="updateFromCurrencyValue()"
          >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>To Currency</mat-label>
          <mat-select
            (selectionChange)="updateCurrencyRate()"
            formControlName="toCurrencyName"
          >
            <mat-option *ngFor="let currency of currencies" [value]="currency">
              {{ currency }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>
