.currency-converter {
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  &__form {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }
  &__block {
    display: flex;
    flex-direction: column;
    width: calc(50% - 20px);
  }
}
